body {
    font-family: sans-serif;
}

h1, p {
    text-align: center;
}

#temp-zone {
    font-size: 2em;
    font-weight: bold;
    padding: 20px;
    width: 200px;
    margin: 0 auto;
    border-radius: 10px;
    transition: all 0.3s;
}

#msg-zone {
    font-weight: bold;
    min-height: 1.5em;
    margin-bottom: 10px;
}

.bordure-bleue {
    border: 3px solid blue;
    color: blue;
}

.bordure-verte {
    border: 3px solid green;
    color: green;
}

.bordure-orange {
    border: 3px solid orange;
    color: orange;
}

.bordure-rouge {
    border: 3px solid red;
    color: red;
}